@import './base.css';

.opacity-1 {
    opacity: 1 !important;
}

.custom-router-link {
    text-decoration: none !important;
    color: initial !important;
}

.my-border {
    border: 5px solid #e3f2fd !important;
    border-radius: 8px !important;
    box-sizing: border-box !important;
}

.my-divider {
    position: relative;
}
.my-divider::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 80%;
    background-color: #dbdbdb;
}

.text-ellipse {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.font-size-75 {
    font-size: .75rem !important;
}
.font-size-85 {
    font-size: .85rem !important;
}
.font-size-1 {
    font-size: 1rem !important;
}

