@import './base.css';

.opacity-1 {
    opacity: 1 !important;
}

.custom-router-link {
    text-decoration: none !important;
    color: initial !important;
}

.my-border {
    border: 5px solid #e3f2fd !important;
    border-radius: 8px !important;
    box-sizing: border-box !important;
}
